[Unit]
Description=Attempt to renew certificate each wednesday

[Timer]
OnCalendar=Wed *-*-* 07:00:00 UTC
Persistent=true

[Install]
WantedBy=timers.target
