[Unit]
Description=UT4MasterServer database backup
Requires=ut4ms.service
After=ut4ms.service

[Service]
Type=exec
Environment=IS_SERVICE=1
ExecStart=sh -c 'ut4ms db dump "/app/db_dumps/$(date --rfc-3339=date).gz"'

[Install]
WantedBy=multi-user.target
