[Unit]
Description=UT4MasterServer database backup
After=ut4ms.service

[Service]
Type=oneshot
Environment=IS_SERVICE=1
ExecStartPre=systemctl stop ut4ms
ExecStart=sh -c 'ut4ms db dump "/app/db_dumps/$(date --rfc-3339=date).gz"'
ExecStopPost=systemctl start ut4ms

[Install]
WantedBy=multi-user.target
