[Unit]
Description=cloudflare DNS records reconfiguration
Wants=network-online.target
After=network-online.target nss-lookup.target

[Service]
ExecStart=sh -c 'ut4ms cloudflare dns set "$(ut4ms ip)"'

[Install]
WantedBy=multi-user.target
