[Unit]
Description=Upgrade all packages on the system and reboot

[Service]
ExecStart=dnf -q -y upgrade
ExecStart=update-certbot
ExecStart=update-docker-compose
# ExecStart=systemctl reboot
