[Unit]
Description=system upgrade

[Service]
Type=oneshot
ExecStart=dnf -y upgrade
ExecStart=update-certbot
ExecStart=update-docker-compose
# ExecStart=systemctl reboot

[Install]
WantedBy=multi-user.target
