[Unit]
Description=Upgrade all packages on the system and reboot

[Service]
Type=oneshot
ExecStart=dnf -q -y upgrade
ExecStart=update-certbot
ExecStart=update-docker-compose
# ExecStart=systemctl reboot

[Install]
WantedBy=multi-user.target
