[Unit]
Description=UT4MasterServer
Requires=docker.service
After=docker.service

[Service]
Type=exec
Environment=IS_SERVICE=1
ExecStart=ut4ms server start
ExecReload=ut4ms server reload
ExecStop=ut4ms server stop

[Install]
WantedBy=multi-user.target