[Unit]
Description=UT4MasterServer update
Wants=ut4ms.service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
Environment=IS_SERVICE=1
ExecStart=ut4ms server update
ExecStart=systemctl reload ut4ms

[Install]
WantedBy=multi-user.target
