[Unit]
Description=Try to update UT4MasterServer
Wants=ut4ms.service
Requires=docker.service
After=docker.service

[Service]
Environment=IS_SERVICE=1
ExecStart=ut4ms server update
ExecStart=systemctl reload ut4ms
