[Unit]
Description=Try to update UT4MasterServer
Wants=ut4ms.service
Requires=docker.service
After=docker.service

[Service]
Type=exec
Environment=IS_SERVICE=1
ExecStart=sh -c 'if ut4ms server update; then; systemctl reload ut4ms; else; exit 0; fi;'

[Install]
WantedBy=multi-user.target
